body {
  background-color: #1f1f1f;
  font-family: Arial, Helvetica, sans-serif;
}

.GrayBackground {
  background-color: #252526;
}

.searchInput {
  position: relative;
}

.Search-icon {
  position: absolute;
  top: 83px;
  left: 40px;
  color: #dc3545;
}
